#image_back img{
    width: 400px;
    height: 420px;
    object-fit: cover;
    object-position: 0px -15px;
    border-radius: 50%;
    margin-top: 90px;
    margin-left: 110px;
}


#body{
    background-image: url(/static/images/aperture-vintage-QI8Gk4vVYCY-unsplash.jpg);
    background-size: 130vw 90vw;
    background-repeat: no-repeat;
    background-position: center center, top right, center;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

#main{
    height: 100vh;
    width: 600px;
    margin-left: 270px;
    background: #0000007d;
    margin-top: 0%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

#welcome{
    color: #f7f7f700; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 480%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

#dev{
    color: #f7f7f700; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 480%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    margin-top: -50px;
}

#dev1{
    color: #f7f7f700; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 480%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    margin-top: -41px;
}

#name{
    color: #f7f7f7; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 600%;
    margin-top: -45px;
    font-weight: bold;
}

p, h5{
    color: #f7f7f7; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}

h2{
    color: #f7f7f7; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -50px;
}


#image_back{
    height: 410px;
    width: 430px;
    background-color: black;
    margin-top: 50px;
    margin-left: 70px;
    border-radius: 70%;
}

a{
    margin-left: 200px;
    margin-top: 260px;
}

img{
    height: 100px;
    width: 100px;
    margin-left: 195px;
    margin-top: 20px;
}

.grow img{
    transition: 1s ease;
}

.gro img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

#button{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 170px;
}
