<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body id="body">

    <div id="main">
        <h1 id="welcome">WELCOME, I'M</h1>
        <h1 id="name">SPENCER.</h1>
        <h1 id="dev" >FULL STACK</h1>
        <h1 id="dev1" >DEVELOPER</h1>
        <h5>Leveraging a unique blend of expertise in software development, audio engineering, and customer-centric roles, I offer a comprehensive skillset that bridges the gap between technical and creative realms.</h5>

        <img src="/static/images/git.png" alt="">
        <button onclick="window.location.href='https://github.com/paynesc1';" id="button" type="button" class="btn btn-warning">My GitHub</button>

        <img src="/static/images/linked.png" alt="">
        <button onclick="window.location.href='https://www.linkedin.com/in/spencer-payne-221891140/';" id="button" type="button" class="btn btn-primary">My LinkedIn</button>

        <img id="avatar" src="" alt="" style="display: none;">
        <a id="html_url" href="#" style="display: none;" >Git Hub Profile</a>
        

    </div>
    <div id="image_back">
        <img src="/static/images/Spencer_LinkedIn.jpg" alt="">
    </div>
    <script src="script.js" ></script>
</body>
</html>